/* NAME */
/* Sarahi Vela */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- 2.4 - 2.5 / Assignment: Responsive Web Development CSS--- */

/* -----------------Root Styles and Variables--------------------*/
:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
	--fontMolle: 'Molle', cursive; 
	--fontMonserrat: 'Montserrat', sans-serif;
	font-size: 16px;
}

/* ----------------------- skyp Link  ---------------------- */
#skip{
	position: absolute;
	left: -100px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus{
	position: static;
	width: auto;
	height: auto;
  }

/* ----------------------- Body Style  ------------------ */
body{
	font-family: var(--fontMonserrat);
	line-height: 1.25;
	box-sizing: border-box;
	color: var(--black);
	
}

/* ----------------------- Header Style  ----------------- */
header{
	background: linear-gradient(0deg, white 35%, teal);
	color: var(--black);
	width: 100%;
	height: 300px;
	box-sizing: border-box;
/*--	border: 2px solid red;----*/
}



nav{
	height: 60px;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: var(--black);
	font-family: var(--fontMonserrat), sans-serif;
	text-decoration: none;
}	

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
} 

header div nav{
	float: right;
	margin-right: 40px;
	
}	

header nav label{
    width: 50%;
    background-color: var(--yellow);
	font-weight: bold;
    top: 0;
	padding: 10px;
    text-transform: uppercase;
	text-align: center;
	position: absolute;
    left: 250px;
	top: 50px;
    padding: 16px 16px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--teal);
    max-height: 0;
    transition: max-height .2s ease-out;  
}

header input {
    display: none;
}

input:checked ~ ul {
    max-height: 600px;
	color: var(--black);
	background-color: var(--blue);
	border: 5px solid var(--black);
}

header ul{
	position: relative;
	z-index: 1;
}

li a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
}
header li a:hover, input:hover {
    background-color: var(--yellow);
}

input:checked ~ label{
	float: right;
}

/*--------------Text Style---------------*/
h1, h2, h3, h4{
    font-family: var(--fontMolle);
}

h1{
    font-size: 60px;
	padding: 0px 20px;

}
header p{
	padding: 10px 20px;
	font-size: 25px;
}
h4, p, q, small, nav, button, form{
    font-family: var(--fontMonserrat);
}

/*--------------Main Style---------------*/
#intro{
	background: var(--white);
	color: var(--black);
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 30px;
}

#intro h2{
	padding: 0px 20px;
	font-size: 45px;
}

#intro p{
	padding: 10px 20px;
	font-size: 18px;
}

#intro img{
	width: 100%;
}

#intro picture img{
	width: 200%;
}

#intro picture source{
	width: 50%;
}

/*-------------- Plan Style---------------*/

#plan h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#plan h4{
	padding: 0px 20px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

#plan {
    background-color: var(--yellow);
}

#plan section{
	max-width: 1000px;
	margin: 0 auto 3rem auto;
}

#plan div section {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
	background-color: var(--blue);
	width: 260px;
	height: 260px;
	max-width: 350px;
  	column-gap: 3px;
  	row-gap: 7px;
	border: 5px solid var(--white);
	padding-left: 65px;
	padding-top: 25px;
}

#plan div section img{
	padding-top: 15px;
}

#plan div{
	padding-left: 50px;
	padding-bottom: 10px;
}

/*-------------- Testimonials Style---------------*/

#testimonials h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#testimonials h4{
    font-size: 30px;
    font-weight: bold;
}

#testimonials {
    background-color: var(--white);
}

blockquote, q {
	quotes: '"' '"';
  }
  blockquote:before, q:before { content: open-quote; }
  blockquote:after, q:after { content: close-quote; }

#testimonials q {
	font-style: oblique;
   }

#testimonials section{
	display: flex;
	flex-direction: column;
	padding-left: 85px;
	padding-right: 85px;
	padding-bottom: 20px;
}

#testimonials q{
	text-align: center;
}

#testimonials h4{
	text-align: center;
}

#testimonials p{
	text-align: center;
}

/*-------------- About Style---------------*/

#about h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#about {
    background-color: var(--blue);
}

#about div section{
  width: 100%;
  text-align: center;
 
}
#about div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 60px;
	padding-right: 60px;
}

#about h4{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	
}

/*-------------- Contact Style---------------*/

#contact {
    background-color: var(--white);
}

#contact h3{
	font-size: 45px;
	padding: 0px 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}


.required{
	color: var(--purple);
}

#contact form{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-right: 50px;
}

#contact div{
	display: flex;
	flex-direction: column;
	text-align: left;
}

#contact fieldset{
	display: flex;
	flex-direction: column;
	text-align: left;
}

#contact .form-required{
	font-family: var(--fontMonserrat);
	font-size: 18px;
	font-weight: bold;
}

form{
	color: var(--black);
	font-weight: 600;
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

#mySubmit{
	color: var(--white);
	background-color: var(--purple);
	border: 5px solid var(--purple);
}

input, select{
	padding: 5px 5px;
	margin-bottom: 15px;
	background-color: var(--white);
	border: 2px solid var(--purple);
	height: 30px;
}

.radio-input input{
	width: 70px;
	accent-color: var(--purple);
}

/*-------------- Footer Style---------------*/

footer{
	height:150px;
	display: flex;
	flex-direction: column;
	text-align:center;
	background-color: var(--light-gray);
  }

  footer p{
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	padding-top:20px;
	padding-bottom: 20px;
  }
  
  footer a{
	font-family: var(--fontMonserrat);
	color: var(--black);
	text-decoration: none;
	padding-top:10px;
	padding-bottom: 10px;
  }

/*-------------- @ Media 950px ---------------*/
/*-------------@ Media 950px-- Header-----------------*/

  @media screen and (min-width: 950px){
	header{
		align-items: center;
		font-size: 25px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	header nav label{
		display: none;
	}
	#logo {
		position: absolute;
		top: 0px;
	}
	header h1 {
		padding-left: 230px;
		padding-top: 25px;
	}
	header p {
		padding-left: 230px;
	}
	header ul li a{
		padding: 10px 10px;
		background-color: var(--light-gray);
		color: var(--black);
	}
	header ul li {
		padding: 8px 8px;
	}
	header ul {
		max-height: 300px;
		
		padding: 10px 10px;
		background-color: transparent;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

/*------------Main---@ Media 950px------------------*/

#intro{
	color: var(--black);
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 30px;
}

#intro h2{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 50px;
	padding-left: 80px;
}

#intro p{
	padding: 25px 20px;
	font-size: 18px;
	padding-left: 80px;
	padding-right: 80px;
}

#intro div{
	padding-left: 60px;
	padding-right: 75px;
	width: 90%;
}

#img-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	padding: 9px 40px;
}

#img-grid img {
    width: calc(50% - 5px); 
    margin-bottom: 10px; 
}

#third-image {
    width: calc(50% - 50px);
}
#intro picture{
	width: 50%;
}

/*-----------Plan---@ Media 950px-------------------*/

#plan h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
}

#plan div{
	display: flex;
	flex-wrap: wrap;
}

/*--------Testimonial-------@ Media 950px------------------*/

#testimonials h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
}

#testimonials div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

/*--------About-------@ Media 950px------------------*/
#about h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
}

#about div{
	display: flex;
	flex-direction: row;
	padding-left: 85px;
	padding-right: 85px;
	padding-bottom: 20px;
}

/*--------Contact-------@ Media 950px------------------*/
#contact h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
}

form{
	padding-left: 60px;
	padding-right: 90px;
	padding-bottom: 20px;
}

#contact fieldset{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#mySubmit{
	position: relative;
	width: 150px;
}

/*--------Footer-------@ Media 950px------------------*/

footer{
	
	display: flex;
	flex-direction: row;
	padding-left: 80px;
	height:70px;
  }

  footer p{
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	padding-top:20px;
	padding-right: 90px;
	padding-bottom: 25px;
  }
  
  footer a{
	
	padding-right: 75px;
	padding-top:20px;
	padding-bottom: 10px;
  }	
}


  /*--------------@ Media 1250px ---------------*/
/*------Header-------@ Media 1250px-- -----------------*/

	
@media screen and (min-width: 1250px){
	
	#menu-toggle ul{
		
		padding-top: 0;
	}
	#menu-toggle li{
		font-size: 15px;
		padding-top: 0;
	}

#menu-toggle{
	position: absolute;
	top: 0;
	padding-top: 0;
	right: 0;
}

header p{
	padding-top: 0;
}
/*------------Intro---@ Media 1250px------------------*/
#intro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	padding-top: 50px;

}
#intro h2{
	grid-column: 1;
	grid-row: 1;
}

#intro p{
	grid-column: 1;
	grid-row: 1;
	padding-top: 120px;
}

/*-----------Plan---@ Media 1250px-------------------*/

#plan div{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	gap:10px;
	padding-left: 50px;
	padding-right: 60px;
	
}

#plan div section {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
	width: 200px;
	height: 200px;
	max-width: 500px;
  	column-gap: 3px;
  	row-gap: 7px;
	padding-left: 50px;
	padding-top: 15px;
	padding-right: 15px;
}

#plan img{
	width: 130px;
	
}

#plan h4{
	font-size: 18px;
	padding-left: 0px;
}

/*--------Testimonial-------@ Media 1250px----------------*/
#testimonials div{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#testimonials div section{
	padding-left: 50px;
	padding-right:50px;
	padding-bottom: 20px;
	
}
/*--------About-------@ Media 1250px------------------*/
/*--------Contact------@ Media 1250px------------------*/

#main-content form{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	margin-left: 50px;
	gap: 15px;
}

#names {
	grid-column: 1;
	grid-row: 1;
}
#nums {
	grid-column: 2;
	grid-row: 1;
}
#selects {
	grid-column: 3;
	grid-row: 1;
}
/*--------Footer-------@ Media 1250px------------------*/
footer{
	justify-content:flex-end;
}
footer p{
	padding-right: 350px;
}

}


 
 