/* NAME */
/* Sarahi Vela */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- 2.4 - 2.5 / Assignment: Responsive Web Development CSS--- */

/* -----------------Root Styles and Variables--------------------*/
:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
	--fontMolle: 'Molle', cursive; 
	--fontMonserrat: 'Montserrat', sans-serif;
	font-size: 16px;
}

/* ----------------------- skyp Link  ---------------------- */
#skip{
	position: absolute;
	left: -100px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus{
	position: static;
	width: auto;
	height: auto;
  }

/* ----------------------- Body Style  ---------------------- */
body{
	font-family: var(--fontMonserrat);
	line-height: 1.25;
	box-sizing: border-box;
	color: var(--black);
	
}

/* ----------------------- Header Style  ---------------------- */
header{
	background: linear-gradient(0deg, white 35%, teal);
	color: var(--black);
	width: 100%;
	height: 300px;
	box-sizing: border-box;
/*--	border: 2px solid red;----*/
}

#logo{
	padding: -3rem;
}

nav{
	height: 60px;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: var(--black);
	font-family: var(--fontMonserrat), sans-serif;
	text-decoration: none;
}	

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
} 

header div nav{
	float: right;
	margin-right: 40px;
	
}	

header nav label{
    width: 50%;
    background-color: var(--yellow);
	font-weight: bold;
    top: 0;
	padding: 10px;
    text-transform: uppercase;
	text-align: center;
	position: absolute;
    left: 250px;
	top: 50px;
    padding: 16px 16px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--teal);
    max-height: 0;
    transition: max-height .2s ease-out;  
}

header input {
    display: none;
}

input:checked ~ ul {
    max-height: 600px;
	color: var(--black);
	background-color: var(--blue);
	border: 5px solid var(--black);
}

header ul{
	position: relative;
	z-index: 1;
}

li a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
}
header li a:hover, input:hover {
    background-color: var(--yellow);
}

input:checked ~ label{
	float: right;
}

/*--------------Text Style---------------*/
h1, h2, h3, h4{
    font-family: var(--fontMolle);
}

h1{
    font-size: 60px;
	padding: 0px 20px;

}
header p{
	padding: 10px 20px;
	font-size: 25px;
}
h4, p, q, small, nav, button, form{
    font-family: var(--fontMonserrat);
}

/*--------------Main Style---------------*/
#intro{
	background: var(--white);
	color: var(--black);
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 30px;
}

#intro h2{
	padding: 0px 20px;
	font-size: 45px;
}

#intro p{
	padding: 10px 20px;
	font-size: 18px;
}

#intro img{
	width: 100%;
}

#intro picture img{
	width: 200%;
}

#intro picture source{
	width: 50%;
}

/*-------------- Plan Style---------------*/

#plan h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#plan h4{
	padding: 0px 20px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

#plan {
    background-color: var(--yellow);
}

#plan section{
	max-width: 1000px;
	margin: 0 auto 3rem auto;
}

#plan div section {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
	background-color: var(--blue);
	width: 260px;
	height: 260px;
	max-width: 350px;
  	column-gap: 3px;
  	row-gap: 7px;
	border: 5px solid var(--white);
	padding-left: 65px;
	padding-top: 25px;
}

#plan div section img{
	padding-top: 15px;
}

#plan div{
	padding-left: 50px;
	padding-bottom: 10px;
}

/*-------------- Testimonials Style---------------*/

#testimonials h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#testimonials h4{
    font-size: 30px;
    font-style: bold;
}

#testimonials {
    background-color: var(--white);
}

blockquote, q {
	quotes: '"' '"';
  }
  blockquote:before, q:before { content: open-quote; }
  blockquote:after, q:after { content: close-quote; }

#testimonials q {
	font-style: oblique;
   }

#testimonials section{
	display: flex;
	flex-direction: column;
	padding-left: 85px;
	padding-right: 85px;
	padding-bottom: 20px;
}

#testimonials q{
	text-align: center;
}

#testimonials h4{
	text-align: center;
}

#testimonials p{
	text-align: center;
}

/*-------------- About Style---------------*/

#about h3{
	padding: 0px 20px;
	font-size: 45px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#about {
    background-color: var(--blue);
}

#about div section{
  width: 100%;
  text-align: center;
 
}
#about div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 60px;
	padding-right: 60px;
}

#about h4{
	font-style: bold;
	text-transform: uppercase;
	font-size: 20px;
	
}

/*-------------- Contact Style---------------*/

#contact {
    background-color: var(--white);
}

#contact h3{
	font-size: 45px;
	padding: 0px 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}


.required{
	color: var(--purple);
}

#contact form{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-right: 50px;
}

#contact div{
	display: flex;
	flex-direction: column;
	text-align: left;
}

#contact fieldset{
	display: flex;
	flex-direction: column;
	text-align: left;
}

#contact .form-required{
	font-family: var(--fontMonserrat);
	font-size: 18px;
	font-style: bold;
}

form{
	color: var(--black);
	font-weight: 600;
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

#mySubmit{
	color: var(--white);
	background-color: var(--purple);
	border: 5px solid var(--purple);
}

input, select{
	padding: 5px 5px;
	margin-bottom: 15px;
	background-color: var(--white);
	border: 2px solid var(--purple);
	height: 30px;
}

.radio-input input{
	width: 70px;
	accent-color: var(--purple);
}

/*-------------- Footer Style---------------*/

footer{
	height:150px;
	display: flex;
	flex-direction: column;
	text-align:center;
	
	background-color: var(--light-gray);
  }

  footer p{
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	padding-top:20px;
	padding-bottom: 20px;
  }
  
  footer a{
	font-family: var(--fontMonserrat);
	color: var(--black);
	text-decoration: none;
	padding-top:10px;
	padding-bottom: 10px;
	
  }

/*-------------- Media 950px ---------------*/

  @media screen and (min-width: 950px){
	header{
		grid-template-columns: 1fr 4fr;
		align-items: center;
		font-size: 25px;
	}
}
/*---


h2{
    font-size: 45px;
}

h3{
    font-size: 35px;
}

main section{
	margin: 2rem auto;
  } 


-------------------------- Formado para la version grande
form{
	color: black;
	font-weight: 600;
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	flex-direction: row;
	align-items: center;
	align-content: center;
}
---------------



  
 
 
  

@media screen and (min-width: 1250px){
	header{
		grid-template-columns: 1fr 4fr;
		align-items: center;
		font-size: 25px;
	}
}
---*/
